* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 18vh;
  background-color: #7cceda;
  font-family: "Poppins", sans-serif;
}

.logo {
  color: #ececec;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #ececec;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ececec;
  margin: 5px;
}

@media screen and (max-width: 1280px) {
  .nav-links {
    width: 45%;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 82vh;
    top: 18vh;
    background-color: #7cceda;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
